name: Docker Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push frontend
        working-directory: ./client
        run: |
          docker build -t dema/thread-client:latest .
          docker push dema/thread-client:latest

      - name: Build and push backend
        working-directory: ./server
        run: |
          docker build -t dema/thread-server:latest .
          docker push dema/thread-server:latest

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }} # USE SSH KEY, NOT PASSWORD
          script: |
            cd /root/app
            sudo docker compose pull
            sudo docker compose up -d --force-recreate
